@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/static/Montserrat-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html{
    scroll-behavior: smooth;
}
.container{
    margin:0 auto;
    max-width: 1280px;
}
.header{
    background: url(../img/stefano-intintoli-STU3UDAQchM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}
.header__inner{
    padding:0px 15px;
    background-color: rgba(255,255,255,0.5);
}
.header__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.header__name-wrapper{
    border:10px solid #fff;
}
.header__name{
    font-size: 60px;
    text-transform: uppercase;
    color:#fff;
    padding:10px 10px;
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__link{
    text-decoration: none;
    color:#000;
    margin-right: 30px;
    font-size: 22px;
    padding:40px 10px;
    transition:.2s;
    position: relative;
}
.header__link:hover{
    transition: .2s;
    color:#fff;
}
.header__link::after{
    content: "";
    height: 2px;
    display: block;
    width:0;
    position: absolute;
    bottom:0;
    left:50%;
    transition: .2s;
    background: #fff;
}
.header__link:hover::after{
    width: 100%;
    left:0;
}
.places{
    padding:50px 15px;
    background: #000;
    color:#fff;
}
.places__inner{
    display: flex;
    flex-direction: column;
}
.places__title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}
.places__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.places__item:not(:last-child){
    margin-bottom: 20px;
}
.places__text-cover{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:0px 15px;
}
.places__img-container{
    width: 800px;
}
.places__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.places__name{
    font-size: 30px;
    font-weight: 700;
}
.places__description{
    font-size: 20px;
}
.places__price{
    font-size: 36px;
    font-style: italic;
}
.photographers{
    background: #fff;
    color:#000;
    padding:50px 15px;
}
.photographers__inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photographers__title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}
.photographers__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 33.333%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    padding:0px 15px;
    transition: .2s;
    cursor: pointer;
}
.photographers__item:hover{
    transition: .2s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
}
.photographers__img-container{
    width: 300px;
    height: 500px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}
.photographers__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.photographers__name-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding:0px 15px;
}
.photographers__name{
    font-size: 22px;
    font-weight: 700;
}
.request{
    background: #e3e2e7;
    padding:50px 15px;
}
.request__inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.request__title-container{
    background: #fff;
    color:#000;
    padding:20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.request__title{
    text-align: center;
    font-size: 36px;
}
.request__form-container{
    background: #444958;
    padding: 20px 20px;
}
.request__form{
    display: flex;
    flex-direction: column;
}
.request__label{
    color:  #c2c2c5;
    display: block;
    font-size: 18px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.request__input,.request__select{
    width: 600px;
    font-size: 20px;
    background: transparent;
    border: 0;
    color: #f2f2f2;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    border-bottom: 2px solid #c2c2c5;
    margin-bottom: 10px;
}
.request__select{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
}
.request__select option{
    color:#000;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.request__btn{
    color: #444958;
    margin-top: 40px;
    margin-bottom: 20px;
    transition: color .3s;
    font-size: 20px;
    background: #fff;
    outline: none !important;
    padding:10px 10px;
    border-radius: 5px;
    border:1px solid #fff;
    cursor:pointer;
    transition: .2s;
}
.request__btn:hover{
    transition: .2s;
    background: #444958;
    color:#fff;
}